ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.centring{
    display: block;
    padding-left: 10%;
}
.content{
    width:40%;
}
.header_text{
    font-size: 25px;

}
.card_line{
    width: 100%;
    margin-bottom: 20px;
}
.card_left_element{
    float:left;
}
.card_right_eleent{
    float:right
}
